.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 82vh;
  overflow-y: auto;
}

.api-key-container {
  margin-bottom: 20px;
}

.message-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  top: 90%;
  height: 40px;
  left: 450px;
  right: 100vh;
  width: 100vh;
}

input[type="text"] {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
}

button#sendMessage {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button#sendMessage:hover {
  background-color: #0056b3;
}

.chat-messages {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}

.chat-messages div {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}
