@media (max-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 28px;
  }

  .desc {
    font-size: 20px;
  }
}

body {
  background: #12121277;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.second-bar a.second-bar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.second-bar a.second-bar-link:hover {
  transform: scale(1.2);
}

.second-bar img {
  display: block;
  max-width: 100%;
  margin-right: 10px;
  height: auto;
}

.second-bar img:hover {
  transform: scale(1.2);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.desc {
  font-size: 24px;
  text-align: center;
}

button,
footer a,
.second-bar a,
#searchButton {
  transition: transform 0.3s ease;
}

button:hover,
footer a:hover,
.second-bar a:hover,
#searchButton:hover {
  transform: scale(1.2);
}

button {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #121212;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

a {
  color: #ffffff;
  text-decoration: none;
}

textarea {
  width: 400px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0 10px;
  border: none;
  border-radius: 25px;
  margin-top: 10px;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  background-color: #121212;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.config-label {
  font-weight: bold;
  color: #ffffff;
}

.config-input {
  padding: 5px;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #121212;
  -webkit-text-fill-color: white;
  border-radius: 15px;
}

.config-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: white;
  background-color: #121212;
}

.column {
  width: 145px;
  transition: all 0.2s ease;
  cursor: pointer;
  background: #121212;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0;
}

.column p {
  width: 145px;
  height: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  padding-top: 136px;
  padding-bottom: 12px;
}

#footer {
  position: relative;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

.footerflex {
  display: flex;
  justify-content: center;
}

.footersocials {
  text-align: center;
}

.footerflex>div {
  margin: 25px 50px;
}

.copyright {
  text-align: center;
  padding: 25px 0px;
}

.footerbrand h3 a {
  color: white !important;
}

.footerbrand h3 a:hover {
  text-decoration: underline !important;
}

.footerbrand p {
  margin-top: 20px;
}

.footerlist ul {
  list-style: none;
  padding: 0px;
}

.footerlist ul>li {
  padding: 2px;
}

.footersocials {
  font-size: 16px;
}

.footersocials a {
  display: inline;
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 8px;
  margin: 0px 5px;
  border: 1px solid var(--nord4);
  border-radius: 50%;
}

.footersocials a:hover {
  transform: scale(1.2);
}

.footersocials a .fab {
  vertical-align: top;
}

.footersocials img:hover {
  transform: scale(1.2);
}

.box-error {
  margin: 18vh 0px;
}

.box-error p {
  margin: 10px 0px;
}

.sidebar li:hover {
  transform: scale(1.05);
}

::-webkit-scrollbar {
  width: 7.5px;
  background: transparent;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 25px;
}
 
::-webkit-scrollbar-thumb {
  background: #121212; 
  border-radius: 10px;
}
