.editor-container {
    width: 800px;
    height: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow:hidden;
    position: relative;
  }
  
  .editor-header {
    background-color: #434c5e;
    padding: 10px;
  }
  
  .editor-header button {
    margin-right: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  #css-editor {
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    border: none;
    resize: none;
  }
  