.internet-connection.ethernet-connected {
    background-image: url('assets/img/ethernet_connected.png');
  }
  
  .internet-connection.cell-none {
    background-image: url('assets/img/cell_none.png');
  }
  
  .internet-connection.cell-bad {
    background-image: url('assets/img/cell_bad.png');
  }
  
  .internet-connection.wifi-connected {
    background-image: url('assets/img/wifi_connected.png');
  }
  
  .internet-connection.wifi-unavailable {
    background-image: url('assets/img/wifi_unavailable.png');
  }
  
  .ethernet-connected {
    background-image: url("assets/img/ethernet_connected.png");
  }
  
  .cell-none {
    background-image: url("assets/img/cell_none.png");
  }
  
  .cell-bad {
    background-image: url("assets/img/cell_bad.png");
  }
  
  .cell-low {
    background-image: url("assets/img/cell_low.png");
  }
  
  .cell-med {
    background-image: url("assets/img/cell_med.png");
  }
  
  .cell-good {
    background-image: url("assets/img/cell_good.png");
  }
  
  .cell-best {
    background-image: url("assets/img/cell_best.png");
  }
  
  .wifi-connected {
    background-image: url("assets/img/wifi_connected.png");
  }
  
  .wifi-unavailable {
    background-image: url("assets/img/wifi_unavailable.png");
  }
  