#apploader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
  }
  
  .show-iframe #apploader {
    display: block;
  }
  
  #loading-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 6.5%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .loading-content {
    text-align: center;
    color: #fff;
  }
  
  .loading-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .loading-message {
    font-size: 18px;
  }
  
  .info-menu {
    display: block;
  }
  
  .info-menu-item {
    font-size: 12px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }