  .reset-button {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 25px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
  }
  
  .reset-button:hover {
    transform: scale(1.2);
  }
  
  .addon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .notification {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 14px;
    transition: top 0.5s ease-in-out;
  }
  
  .hidden {
    visibility: hidden;
  }

  .topnav {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 40px;
    left: 0;
    right: 0;
    gap: 7px;
  }

  .topnav .nav-header {
    text-align: start;
    margin-left: 10%;
  }

  .topnav .nav-item {
    background-color: #0D89B2;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
  }

  .topnav .nav-item p {
    text-align: center;
    color: white;
    font-size: 16px;
  }

  .topnav .active {
    background-color: #3d8298;
  }

  .slide {
    display: none;
  }

  .loaded {
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    width: 60%;
    height: 60%;
    justify-content: center;
    display: flex;
    background-color: #ffffff05;
    margin-left: 22%;
    border-radius: 15px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .config-select {
    height: 27px;
  }

  option {
    font-size: 20px;
  }