RewriteEngine On

# If the request is not for a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If the corresponding .html file exists
RewriteCond %{REQUEST_FILENAME}.html -f

# Rewrite the URL to append .html
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Set X-Robots-Tag header
<IfModule mod_headers.c>
    Header set X-Robots-Tag "index, follow"
</IfModule>
